{% macro attributes(attr) -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {{- attrname }}="{{ attrvalue }}"
    {%- endfor -%}
{%- endmacro -%}

<umbrella-toolbar {{ _self.attributes(attr) }}>
    {{ umbrella_form_theme(form) }}
    <form class="toolbar-item-container">
        {%- for child in form -%}
            <div class="toolbar-item-filter toolbar-item">
                {{- form_widget(child) -}}
            </div>
        {%- endfor -%}
        <div class="toolbar-item-separator"></div>
        {%- for child in widget -%}
            <div class="toolbar-item-widget toolbar-item" data-mode="{{ child.vars.mode }}">
                {{- render_widget(child) -}}
            </div>
        {%- endfor -%}
    </form>
    <div class="toolbar-alert"></div>
</umbrella-toolbar>