{% extends '@UmbrellaAdmin/security/layout.html.twig' %}

{% trans_default_domain 'UmbrellaAdmin' %}

{% block title %}
    <title>{{ 'password_resetting.reset' | trans }} | {{ umbrella_admin.appName() }}</title>
{% endblock %}

{% block content %}
    {{ umbrella_form_theme(form, 'default') }}
    {% include '@UmbrellaAdmin/security/head.html.twig' %}

    <div class="card">
        <div class="card-body">

            <h4 class="text-center card-title mb-4">{{ 'password_resetting.reset' | trans }}</h4>

            {{ form_start(form) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary w-100">
                    <i class="mdi mdi-check me-1"></i> {{ 'Save' | trans }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="text-center text-muted mt-3">
        {% set signin_url =  path(constant('Umbrella\\AdminBundle\\Controller\\SecurityController::LOGIN_ROUTE')) %}
        {{ 'password_resetting.back_login_link' | trans({'%url%' : signin_url}) | raw }}
    </div>
{% endblock %}
