{% extends '@UmbrellaAdmin/security/layout.html.twig' %}

{% trans_default_domain 'UmbrellaAdmin' %}

{% block title %}
    <title>{{ 'password_resetting.error.title' | trans }} | {{ umbrella_admin.appName() }}</title>
{% endblock %}

{% block content %}
    {% include '@UmbrellaAdmin/security/head.html.twig' %}
    <div class="card p-3">
        <div class="card-body">
            <h4 class="text-center card-title mb-4">{{ 'password_resetting.error.title' | trans | raw }}</h4>
            <ul>
                <li class="mb-2">{{ 'password_resetting.error.cause1' | trans({'%url%': path('umbrella_admin_security_passwordrequest')}) | raw }}</li>
                <li class="mb-2">{{ 'password_resetting.error.cause2' | trans | raw }}</li>
            </ul>
        </div>
    </div>
    <div class="text-center text-muted mt-3">
        {% set signin_url =  path(constant('Umbrella\\AdminBundle\\Controller\\SecurityController::LOGIN_ROUTE')) %}
        {{ 'password_resetting.back_login_link' | trans({'%url%' : signin_url}) | raw }}
    </div>
{% endblock %}
