{% extends '@UmbrellaAdmin/Security/layout.html.twig' %}

{% trans_default_domain 'UmbrellaAdmin' %}

{% block title %}
    <title>{{ 'password_resetting.request.title' | trans }} | {{ admin.appName() }}</title>
{% endblock %}

{% block content %}
    {% include '@UmbrellaAdmin/Security/head.html.twig' %}

    <div class="card p-3">
        <div class="card-body">

            <h4 class="card-title text-center mb-3">{{ 'password_resetting.request.title' | trans }}</h4>
            <p class="text-muted mb-4">{{ 'password_resetting.request.text' | trans }}</p>

            <form method="post">

                <div class="mb-4">
                    <label for="email" class="form-label">{{ 'label.email' | trans }}</label>
                    <input type="email" id="email" name="email" class="form-control" required="required" value="{{ email }}" placeholder="{{ 'label.enter_your_email' | trans }}"/>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    <i class="mdi mdi-lock-reset me-1"></i> {{ 'password_resetting.request.submit' | trans }}
                </button>

            </form>
        </div>
    </div>
    <div class="text-center text-muted mt-3">
        {% set signin_url =  path(constant('Umbrella\\AdminBundle\\Controller\\SecurityController::LOGIN_ROUTE')) %}
        {{ 'password_resetting.back_login_link' | trans({'%url%' : signin_url}) | raw }}
    </div>
{% endblock %}
