{% extends '@UmbrellaAdmin/Security/layout.html.twig' %}

{% block content %}
    <div class="card">

        {% include '@UmbrellaAdmin/Security/head.html.twig' %}

        <div class="card-body p-4">
            <div class="w-100 m-auto">
                <h4 class="text-dark-50 text-center mb-4 font-weight-bold">{{ 'message.reset_password_error' | trans | raw }}</h4>
                <ul>
                    <li class="mb-2">{{ 'message.reset_password_error_cause1' | trans({'%url%': path('umbrella_admin_security_passwordrequest')}) | raw }}</li>
                    <li class="mb-2">{{ 'message.reset_password_error_cause2' | trans | raw }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 text-center">
            <a href="{{ path(constant('Umbrella\\AdminBundle\\Controller\\SecurityController::LOGIN_ROUTE')) }}" class="text-muted ml-1">
                {{ 'action.back_login' | trans }}
            </a>
        </div>
    </div>
{% endblock %}