{% extends '@UmbrellaAdmin/Security/layout.html.twig' %}

{% trans_default_domain 'UmbrellaAdmin' %}

{% block title %}
    <title>{{ 'password_resetting.success.title' | trans }} | {{ admin.appName() }}</title>
{% endblock %}

{% block content %}
    {% include '@UmbrellaAdmin/Security/head.html.twig' %}

    <div class="card p-3">
        <div class="card-body">

            <div class="text-center m-auto">
                <i class="mdi mdi-email-check text-secondary fs-0 lh-0" ></i>
                <h4 class="card-title text-center mt-4">{{ 'password_resetting.success.title' | trans }}</h4>
                <p class="text-muted mb-4">
                    {{ 'password_resetting.success.text' | trans({'%email%' : email}) | raw }}
                </p>

                <a href="{{ path(constant('Umbrella\\AdminBundle\\Controller\\SecurityController::LOGIN_ROUTE')) }}" class="btn btn-primary w-100">
                    <i class="mdi mdi-home me-1"></i> {{ 'password_resetting.back_login' | trans }}
                </a>

            </div>
        </div>
    </div>
{% endblock %}
