{% extends '@UmbrellaAdmin/Security/layout.html.twig' %}

{% trans_default_domain 'UmbrellaAdmin' %}
{% block content %}
    {{ umbrella_form_theme(form, 'default') }}
    <div class="card">

        {% include '@UmbrellaAdmin/Security/head.html.twig' %}

        <div class="card-body p-4">

            <div class="text-center w-100 m-auto">
                <p class="text-muted mb-4">{{ 'password_resetting.reset' | trans }}</p>
            </div>

            <form method="post">
                {{ form_rest(form) }}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="mdi mdi-check me-1"></i> {{ 'Save' | trans }}
                    </button>
                </div>

            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <a href="{{ path(constant('Umbrella\\AdminBundle\\Controller\\SecurityController::LOGIN_ROUTE')) }}" class="text-muted">
                {{ 'password_resetting.back_login_markup' | trans | raw }}
            </a>
        </div>
    </div>
{% endblock %}