{% extends '@UmbrellaAdmin/Security/layout.html.twig' %}

{% block content %}
    <div class="card">
        {% include '@UmbrellaAdmin/Security/head.html.twig' %}

        <div class="card-body p-4">

            <div class="text-center w-100 m-auto">
                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">{{ 'message.reset_password' | trans }}</h4>
                <p class="text-muted mb-4">{{ 'message.forget_password_explanation' | trans }}</p>
            </div>

            <form method="post">

                <div class="mb-3">
                    <label for="email" class="form-label">{{ 'label.your_email' | trans }}</label>
                    <input type="email" id="email" name="email" class="form-control" required="required" value="{{ email }}"/>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="mdi mdi-send me-1"></i> {{ 'action.send' | trans }}
                    </button>
                </div>

            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <a href="{{ path(constant('Umbrella\\AdminBundle\\Controller\\SecurityController::LOGIN_ROUTE')) }}" class="text-muted ms-1">
                {{ 'action.back_login' | trans }}
            </a>
        </div>
    </div>
{% endblock %}