{% set breadcrumb = admin_breadcrumb() %}

{% if breadcrumb | length > 0 %}
    <div class="umbrella-breadcrumb">
        <i class="{{ breadcrumb.icon ?? 'uil-angle-right' }} me-2"></i>
        <ol class="breadcrumb" data-count="{{ breadcrumb | length }}">
            {% for item in breadcrumb %}
                {% set label = item.translationDomain ? (item.label | trans([], item.translationDomain)) : item.label %}

                {% if loop.last %}
                    <li class="breadcrumb-item active">{{ label }}</li>
                {% elseif item.route %}
                    <li class="breadcrumb-item">
                        <a href="{{ path(item.route, item.routeParams) }}">{{ label }}</a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item">{{ label }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
{% endif %}