{% set isUser = app.user is instanceof('\\Symfony\\Component\\Security\\Core\\User\\UserInterface') %}
{% set isAdminUser = isUser and app.user is instanceof('\\Umbrella\\AdminBundle\\Entity\\BaseAdminUser') %}

{% trans_default_domain 'UmbrellaAdmin' %}
{% if isUser %}
    <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown">
            <span class="avatar avatar-sm rounded">
                <i class="uil-user fs-4"></i>
            </span>
            <div class="d-none d-xl-block ps-2">
                {% if isAdminUser %}
                    <div>{{ app.user.getFullName() }}</div>
                    <div class="mt-1 small text-muted">{{ app.user.email }}</div>
                {% else %}
                    <div>{{ app.user.userIdentifier }}</div>
                    <div class="mt-1 small text-muted">{{ '-' }}</div>
                {% endif %}
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            {% if isAdminUser and admin.userProfileEnable() %}
                <a href="{{ path(admin.userProfileRoute()) }}" class="dropdown-item">
                    <i class="mdi mdi-account-circle me-1"></i>
                    <span>{{ 'label.my_account' | trans }}</span>
                </a>
            {% endif %}
            <a href="{{ admin.logoutPath() }}" class="dropdown-item">
                <i class="mdi mdi-logout me-1"></i>
                <span>{{ 'label.sign_out' | trans }}</span>
            </a>
        </div>
    </div>
{% else %}
    <div class="nav-item">
        <span class="nav-link d-flex lh-1 text-reset p-0">
            <span class="avatar avatar-sm rounded">
                <i class="uil-user fs-4"></i>
            </span>
            <div class="d-none d-xl-block ps-2">
                <div>{{ 'user.anonymous' | trans }}</div>
                <div class="mt-1 small text-muted">{{ 'user.unauthenticated' | trans }}</div>
            </div>
        </span>
    </div>
{% endif %}