<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="//unpkg.com/@ungap/custom-elements"></script>

        {% block title %}
            <title>{{ uac.appName() }}</title>
        {% endblock %}

        {% block stylesheets %}
            {% include "@UmbrellaAdmin/_stylesheets.html.twig" %}
        {% endblock %}

    </head>

    <body data-leftbar-theme="dark" class="env-{{ app.environment }} {% block body_class %}{% endblock %}">
        {% block body %}

            <div class="wrapper">
                {% block sidebar %}
                    {{ menu_render(uac.menuName()) }}
                {% endblock %}

                <div class="content-page">
                    <div class="content">

                        {% block topbar %}
                            {% include "@UmbrellaAdmin/_topbar.html.twig" %}
                        {% endblock %}

                        <div class="container-fluid mt-3">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}

        {% include "@UmbrellaCore/_toast.html.twig" %}

        {% block javascripts %}
            {% include "@UmbrellaAdmin/_scripts.html.twig" %}
        {% endblock %}
    </body>
</html>






