<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="//unpkg.com/@ungap/custom-elements"></script>

        {% block title %}
            <title>{{ admin.appName() }}</title>
        {% endblock %}

        {% block stylesheets %}
            {% include "@UmbrellaAdmin/_stylesheets.html.twig" %}
        {% endblock %}

    </head>

    <body class="env-{{ app.environment }} {% block body_class %}{% endblock %}">
        {% block body %}

            <div class="wrapper">
                {% block sidebar %}
                    {{ menu_render(admin.menuName()) }}
                {% endblock %}

                <div class="page-wrapper">
                    {% block topbar %}
                        {% include "@UmbrellaAdmin/_topbar.html.twig" %}
                    {% endblock %}

                    <div class="page-body">
                        <div class="{{ admin.containerClass }}">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}

        {% include "@UmbrellaCore/_toast.html.twig" %}

        {% block javascripts %}
            {% include "@UmbrellaAdmin/_scripts.html.twig" %}
        {% endblock %}
    </body>
</html>






