{% if breadcrumb | length > 1 %}
    {% set icon = 'uil-angle-right' %}
    {% for item in breadcrumb %}
        {% if item.icon %}
            {% set icon = item.icon %}
        {% endif %}
    {% endfor %}

    <div class="umbrella-breadcrumb">
        <i class="{{ icon }}"></i>
        <ol data-count="{{ breadcrumb | length }}">
            {% for item in breadcrumb %}
                {% if not loop.first %}
                    {% set label = item.translation_domain ? (item.label | trans([], item.translation_domain)) : item.label %}

                    {% if loop.last %}
                        <li class="active">{{ label }}</li>
                    {% elseif item.route %}
                        <li>
                            <a href="{{ path(item.route, item.route_params) }}">{{ label }}</a>
                        </li>
                    {% else %}
                        <li>{{ label }}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
{% endif %}