{% if breadcrumb | length > 0 %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-icon">
                <i class="{{ breadcrumb.icon ?? 'uil-angle-right' }} me-2"></i>
            </li>

            {% for item in breadcrumb %}
                {% set label = item.translationDomain ? (item.label | trans([], item.translationDomain)) : item.label %}

                {% if loop.last %}
                    <li class="breadcrumb-item active">{{ label }}</li>
                {% elseif item.route %}
                    <li class="breadcrumb-item">
                        <a href="{{ path(item.route, item.routeParams) }}">{{ label }}</a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item">{{ label }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}