<a href="{{ path(admin_home_route()) }}" class="logo text-center text-reset">
    <span class="logo-lg">
        {% if admin_theme_logo() %}
            <img src="{{ asset(admin_theme_logo()) }}">
        {% else %}
            <span>{% if admin_theme_icon() %}<i class="{{ admin_theme_icon() }} me-1"></i>{% endif %} {{ admin_theme_name() }}</span>
        {% endif %}
    </span>
    <span class="logo-sm">
       {% if admin_theme_logo_sm() %}
           <img src="{{ asset(admin_theme_logo_sm()) }}" width="10">
       {% elseif admin_theme_icon() %}
           <i class="{{ admin_theme_icon() }}"></i>
       {% endif %}
    </span>
</a>