{% if options.logo_route %}
    <a href="{{ path(options.logo_route) }}" class="logo text-center text-reset">
{% else %}
    <span class="logo text-center text-reset">
{% endif %}

    <span class="logo-lg">
        {% if options.logo %}
            <img src="{{ asset(options.logo ) }}">
        {% else %}
            <span class="title">{{ options.title  }}</span>
        {% endif %}
    </span>
    <span class="logo-sm">
        {% if options.logo_sm %}
            <img src="{{ asset(options.logo_sm) }}">
        {% else %}
            <span class="title">{{ options.title_sm }}</span>
        {% endif %}
    </span>

{% if not options.logo_route %}
   </span>
{% else %}
    </a>
{% endif %}