{% block menu_widget %}
    {% for item in menu.root %}
        {{ block('menu_title') }}
    {% endfor %}
{% endblock %}

{% block menu_title %}
    {% if menu_is_granted_item(item) %}
        <li class="side-nav-title side-nav-item {{ item.class }}">{{ block('menu_item_label') }}</li>

        {% for item in item %}
            {{ block('menu_item') }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block menu_item %}
    {% set level = item.level %}
    {% set isTopLevel = level == 2 %}

    {% if menu_is_granted_item(item) %}
        <li class="side-nav-item {{ menu_is_current_item(item) ? 'menuitem-active' }} {{ item.class }}" data-lvl="{{ level }}">
            <a {{ block('menu_url') }} class="{{ isTopLevel ? 'side-nav-link' }} menu-link" {% if item.hasChildren() %}data-bs-toggle="collapse"{% endif %}>
                {% if item.icon %}
                    <i class="{{ item.icon }}"></i>
                {% endif %}
                <span>{{ block('menu_item_label') }}</span>
                {% if item.hasChildren() %}
                    <span class="menu-arrow"></span>
                {% endif %}
            </a>

            {% if item.hasChildren() %}
                {% if level == 2 %}
                    {% set item_level_class = 'side-nav-second-level' %}
                {% elseif level == 3 %}
                    {% set item_level_class = 'side-nav-third-level' %}
                {% else %}
                    {% set item_level_class = 'side-nav-forth-level' %}
                {% endif %}

                <div id="{{ item.path | replace({':': '__'}) }}" class="collapse {{ menu_is_current_item(item) ? 'show' }}">
                    <ul class="{{ item_level_class }}">
                        {% for item in item %}
                            {{ block('menu_item') }}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{%- block menu_item_label -%}
    {% if item.translationDomain %}
        {{ item.label | trans([], item.translationDomain) }}
    {% else %}
        {{ item.label }}
    {% endif %}
{%- endblock -%}

{%- block menu_url -%}
    {% if item.route %}
        href="{{ path(item.route, item.routeParams) }}"
    {% else %}
        href="#{{ item.path | replace({':': '__'}) }}"
    {% endif %}
{%- endblock -%}
