{% extends '@UmbrellaAdmin/layout.html.twig' %}

{% trans_default_domain 'UmbrellaAdmin' %}

{% block title %}
    <title>{{ 'label.my_account' | trans  }} | {{ admin.appName() }}</title>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-icon">
            <i class="uil-layers me-2"></i>
        </li>
        <li class="breadcrumb-item active">{{ 'label.my_account' | trans  }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ umbrella_form_theme(settings_form) }}
    <form method="post">
        <div class="card card-body">
            {{ form_rest(settings_form) }}
            <button type="submit" class="btn btn-primary d-inline">
                <i class="mdi mdi-check me-1"></i>
                {{ 'Save' | trans }}
            </button>
        </div>
    </form>
{% endblock %}
