{% block umbrellafile_widget %}
    <umbrella-file class="umbrella-file" id="{{ form.vars.id }}">

        <div class="input-file-group">
            {{ form_widget(form._uploadedFile, {attr: {class: 'js-file-input'}}) }}
        </div>

        <div class="input-group">
            <button class="btn btn-primary js-browse-action browse-action" type="button">
                {%- if icon_browse %}
                    {{ icon_browse | raw  }}
                {%- endif -%}
                {%- if label_browse %}
                    {%- if translation_domain is same as(false) -%}
                        {{ label_browse  }}
                    {%- else -%}
                        {{ label_browse | trans([], translation_domain)  }}
                    {%- endif -%}
                {%- endif -%}
            </button>

            <div class="form-control">
                <div class="file-info deleted-hide">{{ file_info | raw }}</div>
                <div class="file-deleted deleted-show">Le fichier sera supprimé...</div>
            </div>

            {% if form._deleteFile is defined %}
                <button class="btn btn-light js-delete-action delete-action" type="button">
                    <i class="mdi mdi-delete deleted-hide"></i>
                    <i class="mdi mdi-delete-off deleted-show"></i>
                </button>
            {% endif %}
        </div>

        {% if form._deleteFile is defined %}
            <div class="d-none">
                {{ form_row(form._deleteFile, {attr: {class: 'js-delete-checkbox'}}) }}
            </div>
        {% endif %}

    </umbrella-file>
{% endblock %}
