{% block umbrellacollection_widget %}
    {% set attr = attr|merge({
        'data-index': form | length,
        'data-sortable' : form.vars.sortable ? 'true' : 'false',
        'data-prototype': block('umbrellacollection_prototype_widget'),
        'data-prototype-name' : prototype.vars.name,
        'data-max-length' : form.vars.max_length
    }) %}

    <umbrella-collection {{ block('widget_container_attributes') }}>
        <table class="table table-md mb-2">
            {# never show head if entry_type is not compound (most of time label was not initialized) #}
            {% if not headless and prototype.vars.compound %}
                <thead>
                <tr>
                    {% if not form.vars.disabled and form.vars.sortable %}
                        <td></td>
                    {% endif %}

                    {% for item_form in prototype %}
                        {{ block('umbrellacollection_item_label') }}
                    {% endfor %}

                    {% if not form.vars.disabled and form.vars.allow_delete %}
                        <td></td>
                    {% endif %}
                </tr>
                </thead>
            {% endif %}
            <tbody class="js-item-container">
            {% for entry_form in form %}
                {{ block('umbrellacollection_entry') }}
            {% endfor %}
            </tbody>
        </table>

        {% if not form.vars.disabled and form.vars.add_btn_template is defined and form.vars.add_btn_template %}
            {{ form.vars.add_btn_template | raw }}
        {% endif %}

    </umbrella-collection>
{% endblock %}

{%- block umbrellacollection_prototype_widget -%}
    {%- set entry_form = prototype -%}
    {{- block('umbrellacollection_entry') -}}
{%- endblock -%}

{% block umbrellacollection_entry %}
    <tr class="js-item" data-idx="{{ entry_form.vars.name }}">

        {% if not form.vars.disabled and form.vars.sortable %}
            <td class="js-drag-handle drag-handle">
                <i class="mdi mdi-menu fs-4 text-primary" aria-hidden="true"></i>
            </td>
        {% endif %}

        {% if entry_form.vars.compound %}
            {% for item_form in entry_form %}
                {{ block('umbrellacollection_item') }}
            {% endfor %}
        {% else %}
            {% set item_form = entry_form %}
            {{ block('umbrellacollection_item') }}
        {% endif %}

        {% if not form.vars.disabled and form.vars.allow_delete %}
            <td class="table-action">
                <a class="js-del-item action-icon" href="#">
                    <i class="mdi mdi-delete-outline fs-4"></i>
                </a>
            </td>
        {% endif %}
    </tr>
{% endblock %}

{% block umbrellacollection_item %}
    <td>
        {{ form_widget(item_form) }}
        {{ form_errors(item_form) }}
    </td>
{% endblock %}

{%- block umbrellacollection_item_label -%}
    {% set label = item_form.vars.label %}
    {% set label_format = item_form.vars.label_format %}
    {% set label_html = item_form.vars.label_html %}
    {% set label_translation_parameters = item_form.vars.label_translation_parameters %}
    {% set required = item_form.vars.required %}
    {% set id = item_form.vars.id %}

    {% set name = item_form.vars.name %}
    {% set translation_domain = item_form.vars.translation_domain %}

    {% if label is not same as(false) -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}

        <td class="collection-label {{ required ? 'required' }}">
            {%- if translation_domain is same as(false) -%}
                {%- if label_html is same as(false) -%}
                    {{- label -}}
                {%- else -%}
                    {{- label|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if label_html is same as(false) -%}
                    {{- label|trans(label_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}
        </td>
    {%- endif -%}
{%- endblock -%}