{% macro attributes(attr) -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {{- attrname }}="{{ attrvalue }}"
    {%- endfor -%}
{%- endmacro -%}

<umbrella-datatable {{ _self.attributes(attr) }}>

    {% block toolbar %}
        {{ render_toolbar(toolbar) }}
    {% endblock %}

    {% block table %}
        <div class="table-responsive">
            <table {{ _self.attributes(table_attr) }}>
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th {{ _self.attributes(column.attr) }}>
                                {%- if column.label is not empty %}
                                    {%- if column.translation_domain %}
                                        {{- (column.label) | trans([], column.translation_domain) | raw -}}
                                    {% else -%}
                                        {{- (column.label) | raw -}}
                                    {% endif -%}
                                {% endif -%}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    {% endblock %}
</umbrella-datatable>
