{% set isUser = app.user is instanceof('\\Symfony\\Component\\Security\\Core\\User\\UserInterface') %}
{% set isAdminUser = isUser and app.user is instanceof('\\Umbrella\\AdminBundle\\Entity\\BaseAdminUser') %}

{% trans_default_domain 'UmbrellaAdmin' %}
{% if isUser %}
    <li class="nav-item dropdown">
        <a href="#" class="dropdown-toggle nav-link p-0 d-flex align-items-center" data-bs-toggle="dropdown">
            <div class="d-inline-block nav-icon">
                <i class="uil uil-user"></i>
            </div>
            <div class="d-none d-xl-inline-block">
                {% if isAdminUser %}
                    <div>{{ app.user.getFullName() }}</div>
                    <div class="small text-muted">{{ app.user.email }}</div>
                {% else %}
                    <div>{{ app.user.userIdentifier }}</div>
                    <div class="small text-muted">{{ '-' }}</div>
                {% endif %}
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            {% if isAdminUser and umbrella_admin.userProfileEnable() %}
                <a href="{{ path(umbrella_admin.userProfileRoute()) }}" class="dropdown-item">
                    <i class="mdi mdi-account-outline me-1"></i>
                    <span>{{ 'label.my_account' | trans }}</span>
                </a>
                <div class="dropdown-divider"></div>
            {% endif %}
            <a href="{{ umbrella_admin.logoutPath() }}" class="dropdown-item">
                <span>{{ 'label.sign_out' | trans }}</span>
            </a>
        </div>
    </li>
{% else %}
    <li class="nav-item">
        <div class="nav-link p-0 d-flex align-items-center">
            <div class="d-inline-block nav-icon">
                <i class="uil uil-user"></i>
            </div>
            <div class="d-none d-xl-inline-block">
                <div>{{ 'user.anonymous' | trans }}</div>
                <div class="small text-muted">{{ 'user.unauthenticated' | trans }}</div>
            </div>
        </div>
    </li>
{% endif %}