{% if url %}
    <a href="{{ url }}" class="list-group-item notification-item">
        {{ _self.notication_inner(_context) }}
    </a>
{% else %}
    <div class="list-group-item notification-item">
        {{ _self.notication_inner(_context) }}
    </div>
{% endif %}

{% macro notication_inner(ctx) %}
    <div class="notification-icon {{ ctx.bg_icon | default('bg-info') }}">
        <i class="{{ ctx.icon | default('mdi mdi-bell') }}"></i>
    </div>
    <div class="notification-content">
        <div class="text-body d-block">{{- ctx.title -}}</div>
        {% if ctx.text %}
            <small class="text-body d-block">{{ ctx.text }}</small>
        {% endif %}
        <small class="text-muted d-block">{{ ctx.date }}</small>
    </div>
{% endmacro %}